<View>
    <Header value="Choose Personal Value:"/>
    <Text name="tweet_text" value="$tweetText"/>
    <Choices name="personal_value" toName="tweet_text" choice="single" showInLine="true">
      <Choice value="security"/>
      <Choice value="conformity"/>
      <Choice value="tradition"/>
      <Choice value="benevolence"/>
      <Choice value="universalism"/>
      <Choice value="self-direction"/>
      <Choice value="stimulation"/>
      <Choice value="hedonism"/>
      <Choice value="achievement"/>
      <Choice value="power"/>
      <Choice value="NONE"/>
    </Choices>
</View>