snorkel == 0.9.5
# nltk == 3.4.5
pyyaml
flask > 1.1
spacy == 2.2.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
# tensorflow >= 2.2.0
# tensorflow-data-validation == 0.22.2
# tensorflow-transform == 0.22.0
# tensorflow-model-analysis == 0.22.2
